{% extends 'base.html.twig' %}

{% block title %}JDB - Sychronisation
{% endblock %}

{% block body %}

    <h1>Auto Sync</h1>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('auto_synchronisation') }}
{% endblock %}
