<div class="footer">
    <div style="margin-top:120px; text-align: center">
        <p>AV.ALLAL EL FASSI MADINAT AL IRFANE HAY RIAD 10000 RABAT</p>
        <p>ICE: 002689450000020 RC: 148587 IFF: 47343972
        </p>
    </div>
</div>
