<div class="modal modal-blur fade" id="future_modal" tabindex="-1" style="background: #00000057;" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-sm  modal-dialog-export" role="document">
		<div class="modal-content">
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-warning"></div>
            <div class="modal-body text-center py-4">
                <h3>Date</h3>
                <div class="col-md-12">
					<input name="date" id="date" type="date" class="form-control">
				</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col-md-6"><button id="saveFuture" class="btn btn-primary">
						<i class="fa-solid fa-check"></i>&nbsp; Enregistrer</button></div>
                        <div class="col-md-6">
					    <button type="button" class="btn me-auto" style="float: right;x" data-bs-dismiss="modal">Annuler</button></div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
